// Breakpoints values

$webDesktop: 1025px;
$webLarge: 1600px;
$webXLarge: 1920px;

$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1440px;

// Colors

$black: #000;
$white: #fff;
$primary: #2cc0e9;

// Layout padding
$layout-padding: 24;
