@import '@/src/sass/Mixins.scss';
@import '@/src/sass/Variables.scss';

.input {
  &Label {
    color: $white;
    font-size: rem(12);
    line-height: rem(16);
    margin-bottom: rem(6);

    &Wrapper {
      display: flex;
      justify-content: space-between;
    }

    &Optional {
      font-size: rem(12);
      line-height: rem(18);
      color: rgba($white, 0.7);
    }
  }

  input {
    width: 100%;
    height: rem(50);
    font-size: rem(16);
    line-height: rem(24);
    color: $black;
    padding: rem(12) rem(10);
    border: none;
    border-radius: rem(4);
    background-color: $white;
    box-shadow: 0px rem(2) rem(4) rgba(0, 0, 0, 0.24);
  }
}
