@import '@/src/sass/Mixins.scss';
@import '@/src/sass/Variables.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  background-color: $primary;
  padding: rem(20) 0;

  @include breakpoint($large) {
    height: initial;
  }

  ul {
    li {
      a {
        color: $white;
        text-decoration: none;

        &:hover {
          color: rgba($white, 0.85);
        }
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: rem($layout-padding);
  padding-right: rem($layout-padding);
  @include breakpoint($large) {
    padding-left: rem($layout-padding * 2);
    padding-right: rem($layout-padding * 2);
  }
  @include breakpoint($xx-large) {
    padding-left: rem(60);
    padding-right: rem(60);
  }

  &Logo {
    h3 {
      color: $white;
      font-size: rem(24);
      font-style: italic;
    }
  }

  &Wrapper {
    display: flex;
    align-items: center;
  }

  &Menu {
    display: none;
    margin-left: rem(40);
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);
    @include breakpoint($medium) {
      display: inline-grid;
    }
  }

  &MobileIcon {
    @include breakpoint($large) {
      display: none;
    }
  }

  &Buttons {
    display: none;
    @include breakpoint($large) {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(26);
    }
  }
}
