@import '@/src/sass/Mixins.scss';
@import '@/src/sass/Variables.scss';

.experienceCard {
  &Image {
    border-radius: rem(20);
    overflow: hidden;
    margin-bottom: rem(12);
  }

  h3 {
    color: $black;
    font-size: rem(20);
    font-weight: 600;
    margin-bottom: rem(8);
  }

  p {
    color: $black;
    margin-bottom: rem(12);
    @include breakpoint($large) {
      margin-bottom: rem(20);
    }
  }

  &Cta {
    @include breakpoint($large) {
      text-align: center;
    }

    button {
      @include breakpoint($large) {
        width: rem(200);
      }
    }
  }
}
